<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<body>

	<h1 class="m-0 text-dark" layout:fragment="titulo_seccion">Usuario</h1>

	<ol class="breadcrumb float-sm-right" layout:fragment="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Usuario</li>
    </ol>

	<div layout:fragment="content">
		<div class="row ml-3 mr-3">
			<div class="col-md-2"></div>
			<div class="col-md-8 ">
				<div class="card">
	         <div class="card-header text-right">

	              <h3 class="card-title"></h3>
	          </div>

					<div class="card-body">
						<table id="example1" class="table table-bordered table-striped">
							<thead>

			                  <tr>
			                  	<th>Usuario</th>
			                
			                  	<th>Acciones</th>
			                  </tr>

							</thead>
							<tbody>

								<tr th:each="usuario: ${usuarios}">
									<td th:text="${usuario.username}"></td>
									<td> 
									<button class="btn btn-sm btn-info" th:attr="data-darBaja=${usuario.idUsuario}">
                     				 <i class="fas fa-down-circle mr-1 text-white"></i>
                     				 <span class="text-white">Dar de baja</span>
                   					 </button>
                   					 <button class="btn btn-sm btn-danger" th:attr="data-eliminar=${usuario.idUsuario}">
                                     <i class="fas fa-trash"></i>
                                     </button>
                   					 </td>
								</tr>
							</tbody>
							<tfoot>

								<tr>
								<th>Usuario</th> 
								<th>Acciones</th>

                </tr>

							</tfoot>
						</table>
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
			</div>
		</div>
		 <!--Modal para preguntar si dar de baja-->
		<div class="modal" tabindex="-1" role="dialog" id="modal-preguntar">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Atencion!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form method="POST" th:action="@{/usuario/update-baja}">
        <div class="modal-body">
          <p>¿Desea dar de baja el usuario?</p>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-danger">Confirmar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
        </form>

      </div>
    </div>
  </div>
		
	
	<!--Modal para eliminar un usuario-->
    <div class="modal" tabindex="-1" role="dialog" id="modal-Eliminar">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
        </div>

        <form method="POST" th:action="@{/usuario/destroy}">   
        <div class="modal-body">
          <input type="hidden" id="id_user" name= "id_user" value>
          <p>&iquest;Desea eliminar el usuario seleccionado?</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Aceptar</button>
        </div>

        </form>

      </div>
    </div>
  </div>
  </div>

	<section layout:fragment="scripts">
	    <script>


      $('[data-darBaja]').on('click', function(){
    	  var idUsuario = $(this).data('eliminar');


          $('#idUsuario').val(idUsuario);

        $('#modal-preguntar').modal('show');
      })
      
       //Para eliminar un usuario
      $('[data-eliminar]').on('click', function(){
    	  
    	  var id_user = $(this).data('eliminar');
    	  $('#id_user').val(id_user);
    	  $('#modal-Eliminar').modal('show');
      })
    </script>
	
	
	</section>

</body>
</html>
