<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>
  <link rel="stylesheet" th:href="@{/plugins/select2/css/select2.min.css}">
  <link rel="stylesheet" th:href="@{/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css}">
</head>
<body>

  <h1 class="m-0 text-dark" layout:fragment="titulo_seccion">Usuario</h1>

  <ol class="breadcrumb float-sm-right" layout:fragment="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
    <li class="breadcrumb-item active">Usuario</li>
  </ol>

  <div layout:fragment="content">
    <div class="row offset-2">
      <div class="col-md-10">
        <div class="card">
          <div class="card-header text-right">
            <a th:href="@{/usuario/create}" class="btn btn-sm btn-primary">
              <i class="fas fa-plus-circle mr-1 text-white"></i>
              <span class="text-white">Agregar Usuario</span>
            </a>

            <h3 class="card-title"></h3>
          </div>

          <div class="card-body">
			<ul th:if="${!#lists.isEmpty(errors)}" class="alert alert-danger ml-2 mr-2" role="alert">
              <li class="ml-2" th:each="error : ${errors}" th:text="${error.defaultMessage}"></li>
            </ul>
           <div th:if="${success}">
             <div class="alert alert-success" th:text="${success}"></div>
           </div>  
			<div th:if="${unlock_success} == 'true'">
             <div class="alert alert-success">Usuario Desbloqueado</div>
           </div>
           <div th:if="${unlock_success} == 'false'">
             <div class="alert alert-danger">Usuario No Desbloqueado</div>
           </div>
           
       <table id="example1" class="table table-bordered table-striped">
            <div class="text-center" th:if="${#lists.isEmpty(usuarios)}">No hay usuarios registrados en el sistema.</div>
              <!-- Validacion para el caso cuando no hay usuarios -->  
            <div th:if="${!#lists.isEmpty(usuarios)}">
            <thead>
                <tr>
                  <th>Usuario</th>
                  <th>Nombre completo</th>
                  <th>Email</th>
                  <th>Cargo</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
              		
					  <tr th:each="usuario: ${usuarios}">
	                  <td class="usuario" th:text="${usuario.username}"></td>
	                  <td class="usuario" th:text="${usuario.nombreCompleto}"></td>
	                  <td class="usuario" th:text="${usuario.email}"></td>
	                  <td class="usuario" th:text="${usuario.cargo.nombreCargo}"></td>
	                  <td>
	
	                    <a class="btn btn-sm btn-primary" th:href="@{/usuario/edit/{id}(id=${usuario.idUsuario})}">
	                      <i class="fas fa-pencil-alt"></i>
	                    </a>
	                    <th:block th:if="${usuario.enabled}">
						<button class="btn btn-sm btn-danger mr-2" title="Deshabilitar" th:attr="data-change-state=${usuario.idUsuario}, data-state=false">
							<i class="fas fa-lock"></i>
						</button>
						</th:block>
						<th:block th:unless="${usuario.enabled}">
							<button class="btn btn-sm btn-success mr-2" title="Habilitar" th:attr="data-change-state=${usuario.idUsuario}, data-state=true">
								<i class="fas fa-unlock-alt"></i>
							</button>
						</th:block>
	                  </td>
	                </tr>
	          
              </tbody>
              <tfoot>
                <tr>
                  <th>Usuario</th>
                  <th>Nombre completo</th>
                  <th>Email</th>
                  <th>Cargo</th>
                  <th>Acciones</th>
                </tr>
              </tfoot>
              </div>
              
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>

    <!--Modal para eliminar un usuario-->
    <div class="modal" tabindex="-1" role="dialog" id="modal-Eliminar">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            Cambiar estado del usuario
          </div>

          <form method="POST" th:action="@{/usuario/destroy}">
            <div class="modal-body">
              <input type="hidden" id="id_user" name="id_user" value>
              <p id="msg-destroy">¿Desea deshabilitar al usuario seleccionado?</p>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button id="btn-state" type="submit" class="btn btn-danger">Confirmar</button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
  
  <section layout:fragment="scripts">
    <script th:src="@{/plugins/select2/js/select2.full.min.js}"></script>
    <script>

      //Para eliminar un usuario
      $('[data-change-state]').on('click', function () {
        
        var id_user = $(this).data('change-state');
        var state = $(this).data('state');
        var message = $('#msg-destroy');
        $('#id_user').val(id_user);

        if(state==true){
					$('#btn-state').attr('class', 'btn btn-primary')
					message.html("¿Desea habilitar al usuario seleccionado?");
				}else{
					$('#btn-state').attr('class', 'btn btn-danger')
					message.html("¿Desea deshabilitar al usuario seleccionado?");
				}

        $('#modal-Eliminar').modal('show');
      })
     
    </script>


  </section>


</body>

</html>