<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">

<head>

  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  
</head>

<body>
	
	<h1 class="m-0 text-dark" layout:fragment="titulo_seccion">Recursos</h1>

	<ol class="breadcrumb float-sm-right" layout:fragment="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Recurso</li>
    </ol>

	<div layout:fragment="content">
<div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            Recurso
          </div>

          <form method="POST" th:action="@{/recurso/store}" th:object="${newRecurso}">
          <div class="card-body">
            <div class="form-group">
              <label for="exampleInputPassword1">Recurso</label>
              <input th:field="*{recurso}" type="text" class="form-control" placeholder="Ingrese el nuevo recurso">
            </div>

        

          <div class="card-footer text-right">
            <a th:href="@{/recurso/index}" class="btn btn-secondary mr-3">Cancelar</a>
              <button class="btn btn-primary" type="submit" name="button">Guardar</button>
          </div>
          </form>
        </div>
      </div>
    </div>

	</div>
	<section layout:fragment="scripts">
	</section>

</body>
</html>