<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">

<head>

  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

</head>

<body>

	<h1 class="m-0 text-dark" layout:fragment="titulo_seccion">Cargo</h1>

	<ol class="breadcrumb float-sm-right" layout:fragment="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Cargo</li>
    </ol>

	<div layout:fragment="content">

    <div class="row ml-3 mr-3">
			<div class="col-md-9 offset-1">
				<div class="card">
	         <div class="card-header text-right">

						<button class="btn btn-sm btn-primary" id="btnAgregar">
							<i class="fas fa-plus-circle mr-1 text-white"></i>
							<span class="text-white">Agregar Cargo</span>
						</button>
	           <h3 class="card-title"></h3>
	          </div>

					<div class="card-body">

            <ul th:if="${!#lists.isEmpty(errors)}" class="alert alert-danger ml-2 mr-2" role="alert">
               <li  class="ml-2" th:each="error : ${errors}" th:text="${error.defaultMessage}"></li>
            </ul>

            <div th:if="${success}">
              <div class="alert alert-success" th:text="${success}"></div>
            </div>

            <div th:if="${mensaje}">
              <div class="alert alert-danger" th:text="${mensaje}"></div>
            </div>

						<table id="example1" class="table table-bordered table-striped">
							<thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Acciones</th>
                  </tr>
							</thead>
							<tbody>

				  <tr th:each="cargo : ${cargos}">
                  <td class="nombre" th:text="${cargo.nombreCargo}"></td>
                  <td class="descripcion" th:text="${cargo.descripcionCargo}"></td>
                  <td>
                    <button class="btn btn-sm btn-primary" th:attr="data-editar=${cargo.idCargo}">
                      <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button class="btn btn-sm btn-danger" th:attr="data-eliminar=${cargo.idCargo}">
                      <i class="fas fa-trash"></i>
                    </button>
                  </td>
				  </tr>

							</tbody>
							<tfoot>
								<tr>
                  <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Acciones</th>
                  </tr>

							</tfoot>
						</table>
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
			</div>
    </div>
    
		 <!--Modal para crear un cargo-->
    <div class="modal" tabindex="-1" role="dialog" id="modalAgregar">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Agregar Cargo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form method="POST" th:action="@{/cargo/store}" th:object="${cargo}">
        <div class="modal-body">

          <div class="form-group">
              <label for="exampleInputPassword1">Nombre</label>
              <input th:field="*{nombreCargo}" type="text" class="form-control" placeholder="Nombre de cargo" required>
          </div>

            <div class="form-group">
              <label for="exampleInputPassword1">Descripcion</label>
              <textarea th:field="*{descripcionCargo}" class="form-control" id="exampleInputPassword1" rows="3" placeholder="Descripcion del cargo" required></textarea>
            </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>

        </form>

      </div>
    </div>
  </div>



	<!--Modal para ELIMINAR UN CARGO-->

  <div class="modal" tabindex="-1" role="dialog" id="modalEliminar">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Eliminar Cargo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form method="POST" th:action="@{/cargo/destroy}">
        <div class="modal-body">
          <input id="idCargo" type="hidden" name="idCargo" value>
          <p>¿Desea eliminar el Cargo?</p>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-danger">Confirmar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
        </form>

      </div>
    </div>
  </div>

  <!--Modal para editar un cargo-->
  <div class="modal" tabindex="-1" role="dialog" id="modalEditar">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Editar Cargo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form method="POST" th:action="@{/cargo/update}" th:object="${cargo}">
        <div class="modal-body">
          <input id="id" type="hidden" th:field="*{idCargo}">
          <div class="form-group">
              <label>Nombre</label>
              <input id="nombre-c" th:field="*{nombreCargo}" type="text" class="form-control" placeholder="Nombre del cargo">
          </div>

            <div class="form-group">
              <label for="exampleInputPassword1">Descripcion</label>
              <textarea th:field="*{descripcionCargo}" class="form-control" id="descripcion-c" rows="3" placeholder="Descripcion del cargo"></textarea>
            </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>

        </form>

      </div>
    </div>
  </div>
  </div>
  
	<section layout:fragment="scripts">
    <script>
    //Para Crear un cargo
    $('#btnAgregar').on('click', function(){

      //Lanzar modal
      $('#modalAgregar').modal('show');
    })
    //FIN-Crear un cargo

     //Para editar un cargo
     $('[data-editar]').on('click', function(){
 
       //Obteniendo datos de la tabla
       var id = $(this).data('editar');
       var nombre = $(this).parent().siblings('td.nombre').text();
       var descripcion = $(this).parent().siblings('td.descripcion').text();
       
       //Asignando datos a la modal
       $('#id').val(id);
       $('#nombre-c').val(nombre);
       $('#descripcion-c').val(descripcion);
       
       //Lanzar modal
       $('#modalEditar').modal('show');
       })
       //FIN-Editar un cargo

       //Para eliminar un cargo
      $('[data-eliminar]').on('click', function(){

        var idCargo = $(this).data('eliminar');


        $('#idCargo').val(idCargo);
        //Lanzar modal
        $('#modalEliminar').modal('show');
      })
      //FIN-Eliminar un cargo
    </script>
	</section>




</body>
</html>
