<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

  <!-- necessary stylesheets -->

  <link rel="stylesheet" th:href="@{/bpmn/css/diagram-js.css}">
  <link rel="stylesheet" th:href="@{/bpmn/css/bpmn.css}">

  <script th:src="@{/bpmn/js/bpmn-viewer.development.js}"></script>
  <script th:src="@{/bpmn/js/bpmn-modeler.development.js}"></script>
</head>

<body>
  <h1 class="m-0 text-dark" layout:fragment="titulo_seccion">Control de Flujos de Trabajo</h1>

	<ol class="breadcrumb float-sm-right" layout:fragment="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
        <li class="breadcrumb-item active">Diseñar proceso</li>
    </ol>

	<div layout:fragment="content" style="height: 100vh;">

      <div id="canvas" style="height: 100%"></div>
	</div>


	<section layout:fragment="scripts">
    <script>

        $('body').prop("class", "sidebar-mini layout-fixed sidebar-collapse")

        var baseUrl = location.protocol+'//'+location.hostname+(location.port ? ':'+location.port: '');
        var diagramUrl = `${baseUrl}/bpmn/base.bpmn`;

        // modeler instance
        var bpmnModeler = new BpmnJS({
          container: '#canvas',
          keyboard: {
            bindTo: window
          }
        });

        //Save diagram contents and print them to the console.
        async function exportDiagram() {

          try {

            var result = await bpmnModeler.saveXML({ format: true });

            alert('Diagram exported. Check the developer tools!');

            console.log('DIAGRAM', result.xml);
          } catch (err) {

            console.error('could not save BPMN 2.0 diagram', err);
          }
        }

        /**
         * Open diagram in our modeler instance.
         *
         * @param {String} bpmnXML diagram to display
         */
        async function openDiagram(bpmnXML) {

          // import diagram
          try {

            await bpmnModeler.importXML(bpmnXML);

            // access modeler components
            var canvas = bpmnModeler.get('canvas');
            //var overlays = bpmnModeler.get('overlays');


            // zoom to fit full viewport
            canvas.zoom('fit-viewport');

            // add marker
            canvas.addMarker('SCAN_OK', 'needs-discussion');
          } catch (err) {

            console.error('could not import BPMN 2.0 diagram', err);
          }
        }

        // load external diagram file via AJAX and open it
        $.get(diagramUrl, openDiagram, 'text');

    </script>
    <svg id="helper-svg" width="0" height="0" style="visibility: hidden; position: fixed"></svg>

	</section>
</body>

</html>
