<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- SweetAlert2 -->
  	<link rel="stylesheet" th:href="@{/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css}">
	<!-- Toastr -->
  	<link rel="stylesheet" th:href="@{/plugins/toastr/toastr.min.css}">

</head>

<body>

    <h1 class="m-0 text-dark" layout:fragment="titulo_seccion">Procesos</h1>

    <ol class="breadcrumb float-sm-right" layout:fragment="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
        <li class="breadcrumb-item active">Procesos</li>
    </ol>

    <div layout:fragment="content">
		<input type="hidden" id="delete" th:if="${delete_success != null}" value="true">
        <div class="row ml-3 mr-3">
            <div class="col-md-10 offset-1">
                <div class="card">
                    <div class="card-body">

                        <ul th:if="${!#lists.isEmpty(errors)}" class="alert alert-danger ml-2 mr-2" role="alert">
                            <li class="ml-2" th:each="error : ${errors}" th:text="${error.defaultMessage}"></li>
                        </ul>

                        <div th:if="${success}">
                            <div class="alert alert-success" th:text="${success}"></div>
                        </div>

                        <div th:if="${mensaje}">
                            <div class="alert alert-danger" th:text="${mensaje}"></div>
                        </div>

                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Descripcion</th>
                                    <th>Estado</th>
                                    <th>Respuestas</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="procesoStruct : ${procesos}">
                                    <th:block th:if="${usuarios == procesoStruct.proceso.usuario}">
                                        <td class="nombre" th:text="${procesoStruct.proceso.procesoNombre}"></td>
                                        <td class="descripcion" th:text="${procesoStruct.proceso.procesoDescripcion}"></td>
                                        <th:block th:if="${procesoStruct.proceso.procesoActivo}">
                                            <td class="estado"><span class="badge badge-success" th:text="Activo"></span></td>
                                        </th:block>
                                        <th:block th:unless="${procesoStruct.proceso.procesoActivo}">
                                            <td class="estado1"><span class="badge badge-warning" th:text="Inactivo"></span></td>
                                        </th:block>
                                        <td class="respuestas"
                                            th:text="${procesoStruct.proceso.contadorRespuestas(procesoStruct.proceso.getInstanciasProceso(), true)}">
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button class="btn btn-sm btn-primary mx-1"
                                                    th:attr="data-editar=${procesoStruct.proceso.idProceso}" title="Editar Proceso">
                                                    <i class="fas fa-pencil-alt"> </i>
                                                </button>
                                                <a class="btn btn-sm btn-secondary" title="Ver Listado de Respuestas"
                                                    th:href="@{/proceso/{id}/procesos-respondidos (id=${procesoStruct.proceso.idProceso})}">
                                                    <i class="fas fa-list-ul"></i>
                                                </a>
                                                <button th:if="${procesoStruct.eliminar == true}" class="btn btn-sm btn-danger mx-1"
                                                    title="Eliminar Proceso"
                                                    th:attr="data-procesoId=${procesoStruct.proceso.idProceso}, data-procesoNombre=${procesoStruct.proceso.procesoNombre}"
                                                    onclick="eliminarProceso(event, this)">
                                                    <i class="fas fa-trash"> </i>
                                                </button>
                                            </div>
                                        </td>
                                    </th:block>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Descripcion</th>
                                    <th>Estado</th>
                                    <th>Respuestas</th>
                                    <th>Acciones</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="modalEditar">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Actualizar Proceso</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form method="POST" th:action="@{/proceso/update}" th:object="${proceso}">
                        <div class="modal-body">
                            <input id="id" type="hidden" th:field="*{idProceso}">
                            <div class="mb-3">
                                <label class="form-label">Nombre: </label>
                                <input id="nombre-p" th:field="*{procesoNombre}" type="text" class="form-control"
                                    placeholder="Ingrese su nombre" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Descripcion: </label>
                                <input id="descripcion-p" th:field="*{procesoDescripcion}" type="text"
                                    class="form-control" placeholder="Ingrese su descripcion" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Modal para eliminar proceso -->
        <div class="modal fade" id="eliminarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Eliminar Proceso</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <form th:action="@{/proceso/eliminar}" method="post">
		      	  <input type="hidden" id="procesoIdEliminar" name="procesoId" value="">	
			      <div class="modal-body">
			        <div id="msjConfirmacion"></div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
			        <button type="submit" class="btn btn-danger">Eliminar</button>
			      </div>
		      </form>
		    </div>
		  </div>
		</div>
    </div>
    <section layout:fragment="scripts">
    	<!-- Toastr -->
		<script th:src="@{/plugins/toastr/toastr.min.js}"></script>
		<!-- SweetAlert2 -->
		<script th:src="@{/plugins/sweetalert2/sweetalert2.min.js}"></script>
        <script>
            $('[data-editar]').on('click', function () {
                $('#modalEditar').modal('show');

                var id = $(this).data('editar');
                var nombre = $(this).parent().siblings('td.nombre').text();
                var descripcion = $(this).parent().siblings('td.descripcion').text();

                $('#id').val(id);
                $('#nombre-p').val(nombre);
                $('#descripcion-p').val(descripcion);
            })
            
            function eliminarProceso(event, element){
            	var procesoNombre = $(element).attr("data-procesoNombre");
            	var procesoId = $(element).attr("data-procesoId");
            	$("#procesoIdEliminar").val(procesoId);
            	$("#msjConfirmacion").html(`<p>¿Esta seguro que desea eliminar el proceso <b>${procesoNombre}<b/>?</p>`);
            	$("#eliminarModal").modal('toggle');
            }
            $(document).ready(function(){
            	var del = $('#delete').val();
            	if(del === 'true'){
   				 toastr.success("El Proceso se ha eliminado correctamente."); 
   			  	}
            });
        </script>
    </section>

</body>

</html>