<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/plugins/select2/css/select2.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css}">

    <link rel="stylesheet" th:href="@{/bpmn/css/diagram-js.css}">
    <link rel="stylesheet" th:href="@{/bpmn/css/bpmn.css}">
    <link rel="stylesheet" th:href="@{/css/configurar-actividad.css}">

    <script th:src="@{/bpmn/js/bpmn-viewer.development.js}"></script>
    <script th:src="@{/bpmn/js/bpmn-modeler.development.js}"></script>

    <style>
        .highlight:not(.djs-connection) .djs-visual > :nth-child(1) {
            stroke: #202122 !important; /* color elements as green */
            fill: #5BC0DE !important; /* color elements as green */
        }
    </style>
</head>

<body>

    <h1 class="m-0 text-dark" layout:fragment="titulo_seccion">Procesos</h1>

    <ol class="breadcrumb float-sm-right" layout:fragment="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
        <li class="breadcrumb-item active">Procesos Activos</li>
    </ol>

    <div layout:fragment="content">

        <div class="row ml-3 mr-3">
            <div class="col-md-9 offset-1">
                <div class="card">
                    <div class="card-body">

                        <div th:if="${error}">
                            <div class="alert alert-danger" th:text="${error}"></div>
                        </div>

                        <table id="example1" class="table table-bordered table-striped">
                            <h3 class="text-center" th:if="${#lists.isEmpty(procesos)}">No hay procesos activos.</h3>
                            <th:block th:if="${!#lists.isEmpty(procesos)}">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Descripcion</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="proceso : ${procesos}">
                                    <td th:text="${proceso.procesoNombre}"></td>
                                    <td th:text="${proceso.procesoDescripcion}"></td>
                                    <td>
                                        <div class="btn-group">
                                            <button th:if="${proceso.cargo.idCargo == cargo.idCargo}" class="btn btn-sm btn-info" title="Responder Actividad" th:attr="data-owner=${proceso.idProceso}">
                                                <i class="fas fa-sign-in-alt"></i>
                                            </button>
                                            <button th:unless="${proceso.cargo.idCargo == cargo.idCargo}" class="btn btn-sm btn-info" title="Responder Actividad" th:attr="data-no-owner=${proceso.idProceso}">
                                                <i class="fas fa-sign-in-alt"></i>
                                            </button>
                                            <button class="btn btn-sm btn-secondary mx-2" title="Ver diagrama" th:attr="data-diagram=${proceso.idProceso}">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Descripcion</th>
                                    <th>Acciones</th>
                                </tr>
                            </tfoot>
                        </th:block>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="modalOwner">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Responder actividad</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                        <div class="modal-body">
                            <h5>Proceder a responder la actividad</h5>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <a id="btnOwner" href="" class="btn btn-primary">Continuar</a>
                        </div>
                </div>
            </div>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="modalNoOwner">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Responder actividad</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="" method="GET" id="noOwnerForm">
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Seleccione el recurso</label>
                                <select id="idInstanciaP" name="instanciaId" class="form-control select2bs4" style="width: 100%;">
                                    
                                </select>
                              </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Continuar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--Modal para mostrar el diagrama-->
        <div class="modal m-5" tabindex="-1" role="document" id="modalDiagram">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="btn-group">
                            <h5><span class="badge badge-info mr-3">Mis actividades</span></h5>
                            <button class="btn btn-sm btn-light" id="zoomIn" title="Zoom in"><i class="fas fa-plus"></i></button>
                            <button class="btn btn-sm btn-light" id="zoomOut" title="Zoom out"><i class="fas fa-minus"></i></button>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="modalBody" class="modal-body text-center" style="height: 400px;">
                        
                    </div>
                </div>
            </div>
        </div>


    </div>
    <section layout:fragment="scripts">
        <script th:src="@{/plugins/select2/js/select2.full.min.js}"></script>
        
        <script>
            $('[data-diagram]').on('click', function () {
                $('#modalBody').html('<div id="canvas" style="height: 100%;"></div>');

                var baseUrl = location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '');
                var diagramUrl = `${baseUrl}/bpmn/base.bpmn`;
                var procesoId = $(this).data('diagram');

                // modeler instance
                var bpmnModeler = new BpmnJS({
                    container: '#canvas',
                    keyboard: {
                        bindTo: window
                    }
                });

                $('#zoomIn').on('click', function(){
                    bpmnModeler.get('zoomScroll').stepZoom(1);
                })

                $('#zoomOut').on('click', function(){
                    bpmnModeler.get('zoomScroll').stepZoom(-1);
                })

                $.get('/api/proceso/' + procesoId, function (data) {
                    var xml = atob(data);

                    // load external diagram file via AJAX and open it
                    $.get(diagramUrl, openDiagram(xml), 'text');

                    async function openDiagram(bpmnXML) {

                        try {
                            await bpmnModeler.importXML(bpmnXML);
                            var canvas = bpmnModeler.get('canvas');
                            
                            $.get(`/api/proceso/${procesoId}/elementos`, function(data){
                                data.forEach(eb => {
                                    canvas.addMarker(eb.idElementoDiagramaBpmn, 'highlight');
                                });
                            });
                            
                            canvas.zoom('fit-viewport');
                        } catch (err) {
                            console.error('could not import BPMN 2.0 diagram', err);
                        }

                    }
                });

                $('.djs-palette, .bjs-powered-by').hide();
                $('#modalDiagram').modal('show');
            });

        </script>

        <script>
            $(function () {
                //Initialize Select2 Elements
                $('.select2bs4').select2({
                    theme: 'bootstrap4'
                })
            });

            $('[data-owner]').on('click', function () {
                idProceso = $(this).data('owner');
                $('#btnOwner').prop('href', `/proceso/${idProceso}/responder-actividad`);
                $('#modalOwner').modal('show');
            });

            $('[data-no-owner]').on('click', function () {
                var idProceso = $(this).data('no-owner');
                var html = '';

                $.get(`/api/proceso/${idProceso}/instancias`, function (data) {
                    for (let i = 0; i < data.length; i++) {
                        html += `<option value='${data[i].instanciaProcesoId}'>${data[i].usuario.nombreCompleto}  →  ${data[i].nombreActividad}</option>`;
                    }

                    $('#idInstanciaP').html(html);
                    $('#noOwnerForm').prop('action', `/proceso/${idProceso}/responder-actividad`);
                });

                $('#modalNoOwner').modal('show');
            });
        </script>
    </section>

</body>

</html>