<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>

<body>

    <h1 class="m-0 text-dark" layout:fragment="titulo_seccion">Procesos respondidos</h1>

    <ol class="breadcrumb float-sm-right" layout:fragment="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
        <li class="breadcrumb-item active">Procesos respondidos</li>
    </ol>

    <div layout:fragment="content">

        <div class="row ml-3 mr-3">
            <div class="col-md-10 offset-1">
                <div class="card">

                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <div class="text-center" th:if="${#lists.isEmpty(instanciaProcesos)}">No hay respuestas de procesos en el sistema.</div>
                      
                            <div th:if="${!#lists.isEmpty(instanciaProcesos)}">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Descripcion</th>
                                        <th>Respondido por</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="instanciaProceso : ${instanciaProcesos}">
                                        <td class="nombre" th:text="${instanciaProceso.proceso.procesoNombre}"></td>
                                        <td class="descripcion" th:text="${instanciaProceso.proceso.procesoDescripcion}"></td>
                                        <td th:text="${instanciaProceso.usuario.nombreCompleto}"></td>
                                        <td>
                                            <a class="btn btn-sm btn-secondary" title="Ver respuestas" href="#"><i class="fas fa-eye"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Descripcion</th>
                                        <th>Respondido por</th>
                                        <th>Acciones</th>
                                    </tr>
                                </tfoot>
                                
                               </div>
                               
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>

</html>