<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>

<body>

    <h1 class="m-0 text-dark" layout:fragment="titulo_seccion">Procesos</h1>

    <ol class="breadcrumb float-sm-right" layout:fragment="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
        <li class="breadcrumb-item active">Procesos Activos</li>
    </ol>

    <div layout:fragment="content">

        <div class="row ml-3 mr-3">
            <div class="col-md-9 offset-1">
                <div class="card">
                    <div class="card-body">

                        <table id="example1" class="table table-bordered table-striped">
                            <h3 class="text-center" th:if="${#lists.isEmpty(procesos)}">No hay procesos activos.</h3>
                            <th:block th:if="${!#lists.isEmpty(procesos)}">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Descripcion</th>
                                    <th>Actividad</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="proceso : ${procesos}">
                                    <td th:text="${proceso.procesoNombre}"></td>
                                    <td th:text="${proceso.procesoDescripcion}"></td>
                                    <td th:text="${proceso.nombreActividad}"></td>
                                    <td>
                                        <a title="Responder Actividad" class="btn btn-sm btn-info" th:href="@{/proceso/{id}/responder-actividad (id=${proceso.idProceso})}">  
                                            <i class="fas fa-sign-in-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Descripcion</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </tfoot>
                        </th:block>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <section layout:fragment="scripts">
    </section>

</body>

</html>