<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>

<body>

    <h1 class="m-0 text-dark" layout:fragment="titulo_seccion">Reponder Actividad</h1>

    <ol class="breadcrumb float-sm-right" layout:fragment="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
        <li class="breadcrumb-item"><a th:href="@{/index}">Procesos Activos</a></li>
        <li class="breadcrumb-item active">Responder Actividad</li>
    </ol>

    <div layout:fragment="content">

        <br>
        <div class="row ml-5">
            <div class="col-md-6 offset-2">
                <div class="card">
                    <form method="POST" th:action="@{/proceso/persistir-respuestas}">
                        <input name="instanciaActividadId" type="hidden"
                            th:value="${currActivity.instanciaActividadId}">
                        <div class="card-header text-left">
                            <th:block
                                th:if="${activityElements.tipoElementoBpmn.nombreTipoElementoBpmn == 'bpmn:ExclusiveGateway'}">
                                <h3 class="card-title"><b>Compuerta de decisión</b></h3>
                            </th:block>
                            <th:block
                                th:unless="${activityElements.tipoElementoBpmn.nombreTipoElementoBpmn == 'bpmn:ExclusiveGateway'}">
                                <h3 class="card-title">Actividad: <b>[[ ${activityElements.nombreElementoBpmn} ]]</b>
                                </h3>
                            </th:block>
                        </div>
                        <div class="card-body">

                            <!--Mensaje de validación-->
                            <div th:if="${error}">
                                <div class="alert alert-danger" th:text="${error}"></div>
                            </div>

                            <!--SI ES UNA COMPUERTA-->
                            <th:block
                                th:if="${activityElements.tipoElementoBpmn.nombreTipoElementoBpmn == 'bpmn:ExclusiveGateway'}">
                                
                                <!--Variables que son solo de lectura-->
                                <th:block th:each="ebf : ${activityElements.elementoBpmnFormularios}">
                                    <div class="form-group" th:unless="${ebf.elementoFormulario.elementoFormularioTipo == 'checkbox'}">
                                        <label for="exampleInputEmail1">[[ ${ebf.elementoFormulario.label} ]]</label>
                                        <input th:type="${ebf.elementoFormulario.elementoFormularioTipo}"
                                            class="form-control" disabled th:value="${ebf.respuesta}">
                                    </div>
                                    <div class="form-check" th:if="${ebf.elementoFormulario.elementoFormularioTipo == 'checkbox'}">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input"
                                            th:name="${ebf.elementoFormulario.label}" th:attr="${ebf.respuesta}" disabled>
                                        [[ ${ebf.elementoFormulario.label} ]]
                                    </label>
                                    </div>
                                </th:block>
                                <!-- FIN - Variables que son solo de lectura-->
                                <br>

                                <!--Listado de actividades para elegir-->
                                <div class="form-group">
                                    <h5><label>[[ ${activityElements.nombreElementoBpmn} ]]</label></h5>
                                    <div class="radio" th:each="nextElement : ${activityElements.reference_next}">
                                        <label><input type="radio" th:name="nextActivity"
                                                th:value="${nextElement.idElementoBpmn}" required> [[
                                            ${nextElement.nombreElementoBpmn} ]] </label>
                                    </div>
                                    <small id="passwordHelpInline" class="text-muted">
                                        En base a las variables presentadas seleccionar la siguiente actividad
                                    </small>
                                </div>
                                <!-- FIN - Listado de actividades para elegir-->

                            </th:block>
                            <!--FIN COMPUERTA-->

                            <!--SI ES TAREA-->
                            <th:block
                                th:unless="${activityElements.tipoElementoBpmn.nombreTipoElementoBpmn == 'bpmn:ExclusiveGateway'}"
                                th:each="ebf : ${activityElements.elementoBpmnFormularios}">
                                
                                <!-- Si no es de tipo Checkbox -->
                                <div class="form-group"
                                    th:unless="${ebf.elementoFormulario.elementoFormularioTipo == 'checkbox'}">
                                    <label>[[ ${ebf.elementoFormulario.label} ]]</label>
                                    <input th:if="${ebf.permitirEscritura}"
                                        th:type="${ebf.elementoFormulario.elementoFormularioTipo}" class="form-control"
                                        th:name="${ebf.elementoFormulario.label}" required>
                                    <input th:unless="${ebf.permitirEscritura}"
                                        th:type="${ebf.elementoFormulario.elementoFormularioTipo}" class="form-control"
                                        th:value="${ebf.respuesta}" disabled>
                                </div>
                                <!-- FIN tipo Checkbox -->

                                <!-- Si es de tipo Checkbox -->
                                <div class="form-check"
                                    th:if="${ebf.elementoFormulario.elementoFormularioTipo == 'checkbox'}">
                                    <!--Se permite escritura-->
                                    <label th:if="${ebf.permitirEscritura}" class="form-check-label">
                                        <input type="checkbox" class="form-check-input"
                                            th:name="${ebf.elementoFormulario.label}" required>
                                        [[ ${ebf.elementoFormulario.label} ]]
                                    </label>
                                    <!--No se permite escritura-->
                                    <label th:unless="${ebf.permitirEscritura}" class="form-check-label mb-2">
                                        <input th:if="${ebf.respuesta == 'checked'}" type="checkbox" class="form-check-input"
                                            th:name="${ebf.elementoFormulario.label}" checked disabled>
                                        <input th:unless="${ebf.respuesta == 'checked'}" type="checkbox" class="form-check-input"
                                            th:name="${ebf.elementoFormulario.label}" disabled>
                                        [[ ${ebf.elementoFormulario.label} ]]
                                    </label>
                                </div>
                                <!-- FIN de tipo Checkbox -->

                            </th:block>
                            <!--FIN TAREA-->
                        </div>
                        <div class="card-footer text-right">
                            <a th:href="@{/proceso/procesos-activos}" class="btn btn-secondary mx-2">Cancelar</a>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <section layout:fragment="scripts">
    </section>

</body>

</html>