<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">

<head>

  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

</head>

<body>

	<h3 class="m-0 text-dark" layout:fragment="titulo_seccion">Respuestas de Elemento del Proceso</h3>

	<ol class="breadcrumb float-sm-right" layout:fragment="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
        <li class="breadcrumb-item"><a th:href="@{/proceso/instancia/{id}/resultados(id=${currActivity.instanciaProceso.instanciaProcesoId})}">Resultados</a></li>
        <li class="breadcrumb-item active">Respuestas</li>
    </ol>

    <div layout:fragment="content">
		<div class="row">
            <div class="col-md-5 offset-3" id="respuestas">
                <div class="card">
                     <input name="instanciaActividadId" type="hidden"
                         th:value="${currActivity.instanciaActividadId}">
                     <div class="card-header text-left">
                         <div class="row">
                             <div class="col-md-8">
                                 <th:block
                                     th:if="${activityElements.tipoElementoBpmn.nombreTipoElementoBpmn == 'bpmn:ExclusiveGateway'}">
                                     <h3 class="card-title"><b>Compuerta de decisión</b></h3>
                                 </th:block>
                                 <th:block
                                     th:unless="${activityElements.tipoElementoBpmn.nombreTipoElementoBpmn == 'bpmn:ExclusiveGateway'}">
                                     <h3 class="card-title">Actividad: <b>[[ ${activityElements.nombreElementoBpmn}
                                             ]]</b>
                                     </h3>
                                 </th:block>
                             </div>
                         </div>
                     </div>
                     <div class="card-body">
                         <!--SI ES UNA COMPUERTA-->
                         <th:block>
                             <!--Variables que son solo de lectura-->
                             <th:block th:each="ebf : ${activityElements.elementoBpmnFormularios}">
                                 <div class="form-group"
                                     th:unless="${ebf.elementoFormulario.elementoFormularioTipo == 'checkbox'}">
                                     <label for="exampleInputEmail1">[[ ${ebf.elementoFormulario.label} ]]
                                     	<span th:if="${ebf.permitirEscritura} == true" title="Fue de Escritura en esta Actividad"><i class="far fa-edit"></i></span>
                                     	<span th:if="${ebf.permitirEscritura} == false" title="Fue de Lectura en esta Actividad"><i class="far fa-eye"></i></span>
                                     </label>
                                     <input th:type="${ebf.elementoFormulario.elementoFormularioTipo}"
                                         class="form-control" disabled th:value="${ebf.respuesta}">
                                 </div>
                                 <div class="form-check"
                                     th:if="${ebf.elementoFormulario.elementoFormularioTipo == 'checkbox'}">
                                     <label class="form-check-label">
                                         <input type="checkbox" class="form-check-input"
                                             th:name="${ebf.elementoFormulario.label}" th:attr="${ebf.respuesta}"
                                             disabled>
                                         [[ ${ebf.elementoFormulario.label} ]]
                                         <span th:if="${ebf.permitirEscritura} == true" title="Fue de Escritura en esta Actividad"><i class="far fa-edit"></i></span>
                                     	<span th:if="${ebf.permitirEscritura} == false" title="Fue de Lectura en esta Actividad"><i class="far fa-eye"></i></span>
                                     </label>
                                 </div>
                             </th:block>
                             <!-- FIN - Variables que son solo de lectura-->
                             <br>

                             <!--Listado de actividades para elegir-->
                             <th:block 
                             	th:if="${activityElements.tipoElementoBpmn.nombreTipoElementoBpmn == 'bpmn:ExclusiveGateway'}">
	                             <div class="form-group">
	                                 <h5><label>[[ ${activityElements.nombreElementoBpmn} ]]</label></h5>
	                                 <div class="radio" th:each="nextElement : ${activityElements.reference_next}">
	                                     <label><input type="radio" th:name="nextActivity"
	                                             th:value="${nextElement.idElementoBpmn}" disabled
	                                             th:checked="${nextElement.idElementoBpmn} == ${elementoBpmnNext.idElementoBpmn}"> [[
	                                         ${nextElement.nombreElementoBpmn} ]] </label>
	                                 </div>
	                             </div>
                             </th:block>
                             <!-- FIN - Listado de actividades para elegir-->

                         </th:block>
                         <!--FIN COMPUERTA-->

                     </div>
                     <div class="card-footer text-right">
                         <a type="submit" class="btn btn-primary" th:href="@{/proceso/instancia/{id}/resultados(id=${currActivity.instanciaProceso.instanciaProcesoId})}">Regresar</a>
                     </div>
                </div>
            </div>
        </div>
    </div> 